* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: 100%;
    box-sizing: border-box
}

body {
    font-family: montserrat, sans-serif;
    font-weight: 300;
    color: #023b59;
    background-color: #fff;
    min-height: 100%;
    box-sizing: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    box-sizing: inherit;
    position: relative;
    min-height: 100%;
    margin: 0 auto;
}

h1, h2 {
    font-family: lora, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #023b59;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.section {
    margin-top: 70px;
}

/* Header */
#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

#menu {
    float: right;
    list-style-type: none;
    width: fit-content;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #023b59;

}

#menu a:hover {
    color: #ed0b70;
    border-bottom: 1px solid #023b59;
}

a {
    min-width: inherit;
    text-align: center;
}

/* Hero Image */

#main-img-outer {
    width: 100%;
    overflow: hidden;
    position: relative;
   
}

#main-img {
    height: 600px;
    width: 100%;
    background-image: url(../images/pexels-ella-olsson-1640771\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* About me */

#about-me {
    min-height: 600px;
    position: relative;
    margin-top: 70px;
}

#about-text {
    float: left;
    padding-top: 30px;
    width: 60%;
    margin-left: 30px;
    display: inline-block;
}

#about-img {
    width: 27%;
    display: inline-block;
    padding-left: 40px;
    padding-top: 40px;
}

#about-img > img {
    max-width: 100%;

}

.sub-head {
    text-align: center;
    padding: 20px 0;
    font-size: 250%;
}